body{
  
        margin:0;
        padding: 0;
        background-color:antiquewhite;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        
      
        
  
}
li{
    list-style: none;
    margin:0;
    padding: 0;
    font-size: larger;
    
    }
    li:hover{
        cursor: pointer;
    }
    h1{
        border:1px solid black;
        width: 50%;
        color:blue;
        background-color: aliceblue;
        opacity: 0.6;
    }
    #quiz{
        border: 2px solid red;
        background-color: aliceblue;
        

    }
    #question{
        color: blueviolet;
        
        
    }
    #submit{
        background-color: darkslateblue;
        color:red;
        width: 100px;
        height: 60px;
    }
  
